<!-- Form Blog -->
<div class="container mb-5 mt-5">
  <h2 class="text-center">Create Post Blog</h2>

  <form
    action="/blog/create"
    method="post"
    class="w-75 mx-auto"
    enctype="multipart/form-data"
  >
    <div class="mb-3">
      <label for="title" class="form-label fw-bold">Title</label>
      <input
        type="text"
        class="form-control shadow-sm"
        id="title"
        name="title"
        required
      />
    </div>

    <div class="mb-3">
      <div class="row">
        <div class="col">
          <label for="startdate" class="form-label fw-bold">Start Date</label>
          <input
            type="date"
            class="form-control shadow-sm"
            id="startdate"
            name="startDate"
            required
          />
        </div>
        <div class="col">
          <label for="enddate" class="form-label fw-bold">End Date</label>
          <input
            type="date"
            class="form-control shadow-sm"
            id="enddate"
            name="endDate"
            required
          />
        </div>
      </div>

    </div>

    <div class="mb-3">
      <label for="content" class="form-label fw-bold">Content</label>
      <textarea
        class="form-control shadow-sm"
        id="content"
        style="resize: none; height: 200px"
        name="content"
        required
      ></textarea>
    </div>

    <div class="mb-3">
      <p for="" class="form-label fw-bold">Technologies</p>

      <div class="row">
        <div class="col">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value="golang"
              id="golang"
              name="technologies"
            />
            <label class="form-check-label" for="golang">
              Golang
            </label>
          </div>
        </div>
        <div class="col">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value="react"
              id="react"
              name="technologies"
            />
            <label class="form-check-label" for="react">
              React
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value="node"
              id="node"
              name="technologies"
            />
            <label class="form-check-label" for="node">
              Node Js
            </label>
          </div>
        </div>
        <div class="col">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value="laravel"
              id="laravel"
              name="technologies"
            />
            <label class="form-check-label" for="laravel">
              Laravel
            </label>
          </div>
        </div>
      </div>

    </div>

    <div class="mb-3">
      <label for="uploadImage" class="form-label fw-bold">Upload Image</label>
      <input type="file" class="form-control" id="uploadImage" name="upload-image" />
    </div>

    <div class="d-flex justify-content-end mt-5">
      <button type="submit" class="btn btn-danger px-3 py-1">Post Blog</button>
    </div>
  </form>
</div>