<!-- Form Blog -->
<div class="container mb-5" style="margin-top: 100px">
  <h2 class="text-center">Create Post Blog</h2>

  <form action="/blog/create" method="post" class="w-75 mx-auto">
    <div class="mb-3">
      <label for="title" class="form-label fw-bold">Title</label>
      <input type="text" class="form-control" id="title" name="title" />
    </div>

    <div class="mb-3">
      <label for="content" class="form-label fw-bold">Content</label>
      <textarea
        class="form-control"
        id="content"
        style="resize: none; height: 200px"
        name="content"
      ></textarea>
    </div>

    <div class="mb-3">
      <p for="" class="form-label fw-bold">Technologies</p>

      <div class="row">
        <div class="col">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value="golang|#00add8"
              id="golang"
              name="technologies"
            />
            <label class="form-check-label" for="golang">
              Golang
            </label>
          </div>
        </div>
        <div class="col">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value="react|#61dbfb"
              id="react"
              name="technologies"
            />
            <label class="form-check-label" for="react">
              React
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value="node|#3c873a"
              id="node"
              name="technologies"
            />
            <label class="form-check-label" for="node">
              Node Js
            </label>
          </div>
        </div>
        <div class="col">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value="laravel|#f55247"
              id="laravel"
              name="technologies"
            />
            <label class="form-check-label" for="laravel">
              Laravel
            </label>
          </div>
        </div>
      </div>

    </div>

    <div class="mb-3">
      <label for="uploadImage" class="form-label fw-bold">Upload Image</label>
      <input type="file" class="form-control" id="uploadImage" name="image" />
    </div>

    <div class="d-flex justify-content-end mt-5">
      <button type="submit" class="btn btn-danger px-3 py-1">Post Blog</button>
    </div>
  </form>
</div>