<html>
  <head>
    <title>Creating Blog Page - detail</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="assets/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer" />
  </head>
  <body>
    <!-- NavBar -->
    <nav>
      <div class="nav-content">
        <div class="nav-left">
          <ul>
            <img class="nav-logo" src="./assets/images/brandwhite.png" alt="logo" />
            <li>
              <a href="./index.html">Home</a>
            </li>
            <li>
              <a href="./blog.html">Blog</a>
            </li>
            <li>
              <a href="./testimonial.html">Testimonials</a>
            </li>
          </ul>
        </div>

        <div class="nav-right">
          <a href="./contact.html">Contact Me</a>
        </div>

        <div class="nav-hamburger" onclick="openhumberger()">
          <i class="fa-solid fa-bars"></i>
        </div>

        <div class="nav-mobile" id="humberger-nav-container">
          <ul>
            <li>
              <a href="./index.html">Home</a>
            </li>
            <li class="active">
              <a href="./blog.html">Blog</a>
            </li>
            <li>
              <a href="./blog.html">Contact me</a>
            </li>
            <li>
              <a href="./testimonial.html">Testimonials</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Blog -->
    <div class="blog-detail">
      <div class="blog-detail-container">
        <h1>React Weather App</h1>
        <div class="blog-detail-hero">
          <div class="img-container">
            <img src="http://dummyimage.com/500x300/000/fff.png" alt="detail" />
          </div>
          <div class="blog-detail-info">
            <div class="blog-detail-duration">
              <h2>Duration</h2>
              <p><i class="fa-solid fa-calculator"></i>19 Oct 2023 - 31 Nov 2023</p>
              <p><i class="fa-solid fa-clock"></i>1 Month</p>
            </div>
            <div class="blog-detail-technologies">
              <h2>Technologies</h2>
              <div class="tech-container">
                <p><i class="fa-brands fa-react"></i> React Js</p>
                <p><i class="fa-brands fa-js"></i> JavaScript</p>
                <p><i class="fa-brands fa-node"></i> Node Js</p>
                <p><i class="fa-brands fa-golang"></i> Golang</p>
              </div>
            </div>
          </div>
        </div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit dolor
          voluptates doloremque at dicta facere totam asperiores officia illo! Dolores
          iure dolore sit voluptate deleniti eligendi officia soluta culpa harum quo. Ex,
          saepe exercitationem? Officiis libero cupiditate voluptas aspernatur provident
          quisquam ut, error voluptatem vitae labore expedita culpa quos accusamus cumque
          aliquid quidem minima odio a doloremque repudiandae inventore dolor iure eum
          optio! Consectetur, inventore. Vitae illum fuga distinctio soluta ipsum adipisci
          amet. Neque nulla repellat consequuntur atque quaerat maiores?
        </p>
      </div>
    </div>
    <script src="assets/js/button.js"></script>
  </body>
</html>
