<form class="container mt-5">
  <div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <input type="text" class="form-control" id="name" />
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input type="email" class="form-control" id="email" />
  </div>
  <div class="mb-3">
    <label for="phone" class="form-label">Phone Number</label>
    <input type="text" class="form-control" id="phone" />
  </div>
  <div class="mb-3">
    <label for="subject" class="form-label">Subject</label>
    <select id="subject" class="form-select" aria-label="Default select example">
      <option value="Frontend Developer">Frontend Developer</option>
      <option value="Backend Developer">Backend Developer</option>
      <option value="Fullstack Developer">Fullstack Developer</option>
    </select>
  </div>
  <div class="mb-3">
    <label for="message" class="form-label">Message</label>
    <textarea class="form-control" id="message" rows="3"></textarea>
  </div>
  <button type="button" onclick="getData()" class="btn btn-primary">Submit</button>
</form>
<script src="/js/contact.js"></script>