<div class="testi-container">
  <h1>My Testimonials</h1>
  <div class="container-rating">
    <h2>Rating By Star</h2>
    <div class="rating text-center">
      <button class="rating-btn" onclick="showTestimonial()">All</button>
      <button class="rating-btn" onclick="filterTestimonials(1)">
        1
        <i class="fa-solid fa-star"></i>
      </button>
      <button class="rating-btn" onclick="filterTestimonials(2)">
        2
        <i class="fa-solid fa-star"></i>
      </button>
      <button class="rating-btn" onclick="filterTestimonials(3)">
        3
        <i class="fa-solid fa-star"></i>
      </button>
      <button class="rating-btn" onclick="filterTestimonials(4)">
        4
        <i class="fa-solid fa-star"></i>
      </button>
      <button class="rating-btn" onclick="filterTestimonials(5)">
        5
        <i class="fa-solid fa-star"></i>
      </button>
    </div>
  </div>
  <section class="testimonials" id="testimonials">
    <!-- <div class="testimonial">
                <img src="assets/images/img.png" class="profile-testimonial" />
                <p class="quote">"Etiam nec tincidunt erat. Sed faucibus convallis lectus vel porttitor. Fusce
                    tristique dolor quis odio rhoncus laoreet."</p>
                <p class="author">- Ilham Fathullah</p>
            </div> -->
  </section>
</div>

<script src="/js/testimonial-ajax.js"></script>